{% extends "admin/base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
    {{ form.errors(error_summary) }}
    <form id="admin-cloud-configuration" class="form-horizontal" method="post" >
        {{ form.textarea('buckets', id='field-cloud-buckets', label=_('Buckets'), value=c.admin_data.buckets, error='', placeholder='Buckets name set in JSON format') }}

        {{ form.select('storage', id='field-cloud-storage', label=_('Resource storage'), options=[{'name':filestorage, 'value': 'Filestorage'},{'name': cloudstorage, 'value': 'Cloudstorage'}], classes=[''], selected=c.admin_data.storage, attrs={}) }}

        {{ form.select('organizations_storage', id='field-cloud-org-storage', label=_('Organization select storage'), options=[{'name':yes, 'value': 'Yes'},{'name': no, 'value': 'No'}], classes=[''], selected=c.admin_data.organizations_storage, attrs={}) }}

        {{ form.select('users_select_storage', id='field-cloud-dataset-storage', label=_('Users select storage'), options=[{'name':yes, 'value': 'Yes'},{'name': no, 'value': 'No'}], classes=[''], selected=c.admin_data.users_select_storage, attrs={}) }}


        {% block save_button %}
        <div class="like-header">
          <button class="btn btn-primary" type="submit" name="save">{{ _('Save') }}</button>
        </div>
        {% endblock %}
    </form>

{% endblock %}
